.dashboard {
    .ant-card {
        background: #003261 !important;
        color: #ffffff;

        .ant-card-head {
            background: #ffffff !important;
        }

        .ant-card-meta-title, .ant-card-meta-description {
            color: #ffffff;
        }
    }
}
