.dash-cards {
    max-width: 280px;
    .ant-card {
        background-image: url("../../assets/card.png");
        background-size: cover;

        .ant-card-head {
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
        }

        .ant-card-meta-title, .ant-card-meta-description, .ant-statistic-title, p {
            color: #ffffff;
        }
    }
}
